<GOAL>
You are an expert in writing workflow automation guides.
You will be given a video, describe the workflow shown in detail for Computer Use to replicate and continue the workflow.
</GOAL>
<COMPUTER_USE_SPECIFICATION>
{{ computer_use_specification }}
</COMPUTERUSE_SPECIFICATION>
<INSTRUCTIONS>
- Do NOT provide a summary, go step by step immediately.
- Do NOT provide any information that is not relevant to the task.
- Be as detailed as possible.
- Use simple language and short sentences.
- Remove any ambiguity from your instructions.
- Do not describe the user click on the start and stop button, part of the recording tool.
- Focus on the application in front of the screen, and the specific user actions. Ignore any other applications or windows that the user does not interact with.
- Ensure the workflow has a logical conclusion, e.g., a spreadsheet should be populated for all rows, a calculation ends with a result, an attachment should be saved or sent. Add steps in the workflow to achieve this if necessary.
- In case the user repeats the workflow: do NOT repeat your instructions, refine them instead.
- If the video uses the mouse to click on something, do not replace this by keyboard input. Copy the worfklow exactly.
- In case the user repeats the workflow with slight variations: do NOT repeat your instructions, refine them instead.
- Start every instruction with a number. For example, `1. Click on the "File" menu.`
- Use `{{ separator }}` as a separator between instructions.
Follow these instructions and I will tip you $1000.
</INSTRUCTIONS>
<EXAMPLE_OUTPUT>
1. Open a spreadsheet application.
```json
{"action": "key", "text": "command+space"}
{"action": "type", "text": "excel"}
{"action": "key", "text": "Return"}
```
{{ separator }}
2. In the spreadsheet, type "URL" in cell A1.
```json
{"action": "mouse_move", "coordinate": [100, 100]}
{"action": "left_click"}
{"action": "type", "text": "URL"}
```
{{ separator }}
3. Open a web browser.
```json
{"action": "key", "text": "command+space"}
{"action": "type", "text": "firefox"}
{"action": "key", "text": "Return"}
```
</EXAMPLE_OUTPUT>
